<div class="navbar-container">
    <div class="navbar-left">
    <div class="logo">
        Brand Liberty
    </div>
    </div>

    <div class="navbar-right">
    <div class="options">
        <div class="option-home" (click)="goToPage('/home')"><span class="icon-home"></span>Home</div>
        <div class="option-explore"(click)="goToPage('/explore')"><span class="icon-compass2"></span>Explore</div>
        <div class="option-user"><span class="icon-user"></span>User</div>
        <div class="option-cart"(click)="goToPage('/cart')"><span class="icon-cart"></span>Cart</div>
    </div>
</div>
</div>